* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: poppins;
    letter-spacing: 0.5px;
}

section {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    width: 100%;
}

.main-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.section1 {
    background-image: url("../images/mountains-blured.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    display: none;
}

.section1-img {
    height: 40vh;
    width: 70vmax;
    background-image: url("../images/mountains-dark.png");
    background-position: center;
    box-shadow: 10px 10px 4px 0 rgb(15 15 20 / 30%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
}

.section1-header-text {
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: poppinsBold;
    text-shadow: rgb(9, 9, 9) 1px 2px 5px;
}

.text-under-header-img {
    color: white;
    font-size: 25px;
    text-shadow: rgb(9, 9, 9) 1px 2px 5px;
}

.section1-main-text {
    font-size: 30px;
    font-family: poppinsBold;
}

.section1-sec-text {
    font-size: 20px;
    font-family: poppinsBold;
}

.section3 {
    background-color: grey;
    background: linear-gradient(rgb(76,62,78), rgb(108, 88, 111));
    padding-top: 5em;
}

.section3-header-text {
    color: white;
    font-size: 40px;
    text-align: left;
    font-family: poppinsBold;
    margin-left: 1em;
    text-shadow: rgb(9, 9, 9) 1px 2px 5px ;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-item {
    background-color: rgba(49, 38, 51, 0.94);
    height: 20em;
    width: 20em;
    margin: 1em 1em;
    border-radius: 20%;
    box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
    box-shadow: rgb(9, 9, 9) 1px 2px 5px ;
}

.portfolio-item-1 {
    background-image: url("../images/rock-paper-scissors.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.portfolio-item-2 {
    background-image: url("../images/dice-game.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.portfolio-item:hover {
    /* box-shadow: 0 1px 4px 0 rgba(255, 225, 0, 0.923); */
    box-shadow: 0 1px 4px 0 var(--yellow);
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s ease-in;
}

.portfolio-title {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-family: poppinsBold;
    margin-bottom: 2em;
    color: white;
}

.portfolio-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.portfolio-items a {
    text-decoration: none;
}

.section2 {
    background: linear-gradient(rgb(65, 64, 92), rgb(76,62,78));
    padding-top: 5em;
}

.s2-header {
    color: white;
    font-size: 40px;
    text-align: left;
    font-family: poppinsBold;
    margin-left: 1em;
    text-shadow: rgb(9, 9, 9) 1px 2px 5px;
}

.s2-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5em;
    text-shadow: rgb(9, 9, 9) 1px 2px 5px;
}

.s2-item {
    color: white;
    text-align: center;
    font-family: poppinsBold;
}

.s2-item-img {
    height: 10em;
    width: 10em;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.visual-studio-code-logo {
    background-image: url("../images/visual-studio-code-logo.png");
}

.html-logo {
    background-image: url("../images/html-logo.png");
}

.css-logo {
    background-image: url("../images/css-logo.png");
}

.js-logo {
    background-image: url("../images/js-logo.png");
}

.git-logo {
    background-image: url("../images/git-logo.png");
}

.wordpress-logo {
    background-image: url("../images/wordpress-logo.png");
}

.photoshop-logo {
    background-image: url("../images/photoshop-logo.png");
}

.premiere-pro-logo {
    background-image: url("../images/premiere-pro-logo.png");
}

.contact-section {
    background: linear-gradient(rgb(30, 30, 40), rgb(14, 14, 19));
}

.s4-contact {
    display: flex;
    flex-direction: column;
    color: white;
}