* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: poppins;
    letter-spacing: 0.5px;
}

section {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    width: 100%;
}

.main-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.section1 {
    background-image: url("../images/mountains-blured.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    display: none;
}

.section1-img {
    height: 40vh;
    width: 70vmax;
    background-image: url("../images/mountains-dark.png");
    background-position: center;
    box-shadow: 10px 10px 4px 0 rgb(15 15 20 / 30%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
}

.section1-header-text {
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: poppinsBold;
    text-shadow: rgb(9, 9, 9) 1px 2px 5px;
}

.text-under-header-img {
    color: white;
    font-size: 25px;
    text-shadow: rgb(9, 9, 9) 1px 2px 5px;
}

.section1-main-text {
    font-size: 30px;
    font-family: poppinsBold;
}

.section1-sec-text {
    font-size: 20px;
    font-family: poppinsBold;
}

.section3 {
    background-color: grey;
    /* background: linear-gradient(rgb(76, 62, 78), rgb(108, 88, 111)); */
    background: url("../images/s3-bg.png") center/cover no-repeat;
    padding-top: 5em;
    min-height: 100vh;
}

.section3-header-text {
    color: white;
    font-size: 40px;
    text-align: left;
    font-family: poppinsBold;
    margin-left: 1em;
    text-shadow: rgb(9, 9, 9) 1px 2px 5px;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-item {
    background-color: rgba(49, 38, 51, 0.94);
    height: 20em;
    width: 20em;
    margin: 3em;
    border-radius: 20%;
    box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
    box-shadow: rgb(9, 9, 9) 1px 2px 5px;
}

.portfolio-item-1 {
    background-image: url("../images/rock-paper-scissors.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.portfolio-item-2 {
    background-image: url("../images/dice-game.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.portfolio-item-3 {
    background-image: url("../images/contact-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}

.portfolio-item-4 {
    background-image: url("../images/quiz-game.png");
    background-position: center;
    background-repeat: no-repeat;
}

.portfolio-item-5 {
    background-image: url("../images/man.png");
    background-position: center;
    background-repeat: no-repeat;
}

.portfolio-item-6 {
    background-image: url("../images/Logo\ 8-nobg.png");
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

.portfolio-item:hover {
    box-shadow: 0 1px 4px 0 var(--yellow);
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s ease-in;
}

.portfolio-title {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-family: poppinsBold;
    margin-bottom: 2em;
    color: white;
}

.portfolio-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section2 {
    /* background: linear-gradient(rgb(26, 26, 37), rgb(38, 33, 39)); */
    background: url("../images/s2-bg2.png") bottom/cover no-repeat;
    padding-top: 5em;
    height: max-content;
    min-height: 100vh;
}

.s2-header {
    color: white;
    font-size: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: poppinsBold;
    text-shadow: rgb(9, 9, 9) 1px 2px 5px;
}

.s2-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin-top: 5em; */
    text-shadow: rgb(9, 9, 9) 1px 2px 5px;
    height: 100%;
}

.s2-item {
    color: white;
    text-align: center;
    font-family: poppinsBold;
    margin: 4em;
}

.s2-item:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in;
}

.s2-item-img {
    height: 10em;
    width: 10em;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.visual-studio-code-logo {
    background-image: url("../images/visual-studio-code-logo.png");
}

.html-logo {
    background-image: url("../images/html-logo.png");
}

.css-logo {
    background-image: url("../images/css-logo.png");
}

.js-logo {
    background-image: url("../images/js-logo.png");
}

.git-logo {
    background-image: url("../images/git-logo.png");
}

.wordpress-logo {
    background-image: url("../images/wordpress-logo.png");
}

.photoshop-logo {
    background-image: url("../images/photoshop-logo.png");
}

.premiere-pro-logo {
    background-image: url("../images/premiere-pro-logo.png");
}

.ts-logo {
    background-image: url("../images/typescript-logo.png");
}

.angular-logo {
    background-image: url("../images/angular-logo.png");
}

.section4 {
    background: linear-gradient(rgb(30, 30, 40), rgb(14, 14, 19));
    min-height: 100vh;
    height: max-content;
    padding: 20em 4em;
}

.s4-contact {
    display: flex;
    flex-direction: column;
    color: white;   
    height: 100%;
}

.s4-header {
    color: white;
    font-size: 40px;
    text-align: left;
    font-family: poppinsBold;
    margin-left: 1em;
    text-shadow: rgb(9 9 9) 1px 2px 5px;
}

.s4-text {
    color: white;
    margin: 2em 0em;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.send-btn {
    height: 5em;
    width: 14em;
    background-color: var(--yellow);
    color: rgb(39, 39, 39);
    cursor: pointer;
    font-family: poppinsBold;
    transition: 0.5s;
    border: none;
}

.send-btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 7px white;
}

.s4-inputs {
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: #20202a2b;
    color: white;
    font-family: poppinsBold;
    margin-bottom: 1em;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.s4-inputs:focus {
    border-bottom: 2px solid var(--yellow);
}

.s4-labels {
    color: white;
    font-family: poppinsBold;
    margin-bottom: 1em;
}

.s4-textarea {
    height: 13vh;
}

.s4-social-media {
    display: flex;
}
.s4-social-media-icons {
    height: 6vh;
    width: 6vh;
    background-color: white;
    cursor: pointer;
    transition: 0.5s;
    margin: 0em 1em;
    border-radius: 50%;
}

.s4-social-media-icons:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 7px white;
}

.s4-linkedin {
    background: url("../images/linkedin-circle.png") center/70% no-repeat;
    background-color: var(--yellow);
}

.s4-github {
    background: url("../images/github-icon.png") center/70% no-repeat;
    background-color: var(--yellow);
}