/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(30, 30, 40);
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 500px;
}

.open-btn {
    font-size: 3em;
    cursor: pointer;
    position: absolute;
    left: 0.3em;
    top: 0.3em;
}

.closebtn {
    z-index: 10;
}

.img-container {
    border-radius: 50%;
    width: 5.625em;
    height: 5.625em;
    background-color: rgb(255, 187, 0);
    background-image: url("../images/profile.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.side-bar-profile-img {
    border-radius: 50%;
    width: 5.625em;
    height: 5.625em;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.side-bar-align-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 50);
    height: 15em;
    width: 100%;
    top: 1px;
    position: absolute;
    flex-direction: column;
    box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
}

.profile-text {
    margin-top: 1em;
    text-align: center;
}

.profile-subtext {
    text-align: center;
    font-family: serif;
    margin-top: 1em;
}

.side-bar-residence {
    display: flex;
    justify-content: space-between;
    margin-top: 13em;
}

.menu-text-spread {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
}

.menu-divider {
    background: #646466;
    height: 1px;
    opacity: 0.3;
    margin-top: 1em;
    margin-bottom: 3em;
}

.menu-margins {
    margin-left: 1em;
    margin-right: 1em;
}

.menu-labels {
    margin: 0px 0px;
    margin-bottom: 0px;
}

.progress-bar-bg {
    background-color: rgba(19, 23, 27, 0.707);
    margin-top: 5px;
    margin-bottom: 1em;
}

@keyframes progressAnim1 {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

@keyframes progressAnim2 {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes progressAnim3 {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

@keyframes progressAnim4 {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes progressAnim5 {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}

@keyframes progressAnim6 {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes progressAnim7 {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.progress-bar-fill {
    height: 5px;
    background-color: var(--yellow);
}

.progress-bar-anim1 {
    animation: progressAnim1 1s 0.1s 1 ease-in;
}

.progress-bar-anim2 {
    animation: progressAnim2 1s 1 ease-in;
}

.progress-bar-anim3 {
    animation: progressAnim3 1s 0.3s 1 ease-in;
}

.progress-bar-anim4 {
    animation: progressAnim4 1s 0.4s 1 ease-in;
}

.progress-bar-anim5 {
    animation: progressAnim5 1s 0.5s 1 ease-in;
}

.progress-bar-anim6 {
    animation: progressAnim6 1s 0.6s 1 ease-in;
}

.progress-bar-anim7 {
    animation: progressAnim7 1s 0.7s 1 ease-in;
}

.social-icons {
    display: flex;
}

.social-icon-linkedin {
    background-image: url("../images/linkedin.png");
    margin: 0px 0.5em;
    width: 2em;
    height: 2em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor:pointer;
    transition: 0.5s;
}

.social-icon-linkedin:hover {
    background-image: url("../images/linkedin-hover.png");
}

.social-icon-email {
    margin: 0px 0.5em;
    width: 2em;
    height: 2em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: 0.5s;
}

.social-icon-email:hover {
    background-image: url("../images/email-hover.png");
}

.social-icon-email-inactive {
    background-image: url("../images/email.png");
}

.social-icon-email-active {
    background-image: url("../images/email-hover.png");
}

.download-btn {
    text-align: center;
    font-weight: 900;
}

#download-cv {
    cursor: pointer;
}

.download-icon {
    cursor: pointer;
    margin: 0 0.5em;
}

.email-menu {
    height: 0px;
    width: 0px;
    overflow: hidden;
    transition: 0.5s;
}

.email-option1 {
    background-color: var(--yellow);
    cursor: pointer;
    border-radius: 5%;
    margin: 1em 0;
    text-align: center;
    transition: 0.5s;
    color: #2c2c2c;
    font-family: poppinsBold;
}

.email-option1:hover {
    background-color: rgb(50, 50, 50);
    color: #8c8c8e;
}

.email-option2:hover {
    background-color: rgb(50, 50, 50);
    color: #8c8c8e;
}

.email-option2 {
    background-color: var(--yellow);
    cursor: pointer;
    border-radius: 5%;
    margin: 1em 0;
    text-align: center;
    transition: 0.5s;
    color: #2c2c2c;
    font-family: poppinsBold;
}

.download-cv-effects {
    transition: 0.5s;
}

.download-cv-effects:hover {
    color: var(--yellow);
}