/* Desktop Compatibility */
@media only screen and (min-width: 700px) {
    .closebtn {
        display: none;
        z-index: -1;
    }

    .open-btn {
        display: none;
    }

    .sidenav {
        width: 20em;
    }
    .main-container {
        margin-left: 20em;
    }
    .clr-apply-btn {
        width: 7em;
        height: 4.5em;  
    }
    .clr-apply-btn:before {
        font-size: 16px;
        width: 4.5em;
        height: 2.5em;
    }

    .section1-img {
        width: 68vmax;
    }
    .s2-header {
        display: flex;
        justify-content: flex-start;
        margin-left: 1em;
    }
    .section4 {
        padding: 20em 4em;
    }
}

@media screen and (max-width: 792px) {
    .section1-img {
        width: 60vmax;
    }
}

@media screen and (min-width: 837px) {
    .section4 {
        padding: 20em 8em;
    }
}

@media screen and (min-width: 1110px) {
    .section4 {
        padding: 7em 20em;
    }
}

@media screen and (max-width: 510px) {
    .section1-img {
        width: 55vmax;
    }
}

@media screen and (max-width: 430px) {
    .section1-img {
        width: 40vmax;
    }
    .section1-header-text {
        font-size: 40px;
    }
}