/* Desktop Compatibility */
@media only screen and (min-width: 700px) {
    .closebtn {
        display: none;
        z-index: -1;
    }

    .open-btn {
        display: none;
    }

    .sidenav {
        width: 20em;
    }
    .main-container {
        margin-left: 20em;
    }
    .clr-apply-btn {
        width: 7em;
        height: 4.5em;  
    }
    .clr-apply-btn:before {
        font-size: 16px;
        width: 4.5em;
        height: 2.5em;
    }
    .s2-header {
        display: flex;
        justify-content: flex-start;
        margin-left: 1em;
    }
}