.right-side-menu-btn {
    position: fixed;
    right: 0.5em;
    top: 0.7em;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin: 3px 0px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.right-menu {
    height: 100%;
    width: 0vh;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(30, 30, 40);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.right-menu-close-btn {
    color: white;
    font-size: 25px;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
}

.light-dark-btn-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.color-theme-icon {
    cursor: pointer;
}

.change-color-red {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
}

.change-color-blue {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background-color: #007bff;
    cursor: pointer;
}

.change-color-teal {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background-color: teal;
    cursor: pointer;
}

.change-color-green {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background-color: green;
    cursor: pointer;
}

.change-color-yellow {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background-color: yellow;
    cursor: pointer;
}

.light-theme-text {
    color: var(--yellow);
}

.color-picker-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 3em;
}

.language-container {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    height: 5em;
    justify-content: space-between;
}

.eng-btn {
    height: 2em;
    width: 2em;
    background-color: grey;
    border-radius: 50%;
    font-family: poppinsBold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ro-btn {
    height: 2em;
    width: 2em;
    background-color: grey;
    border-radius: 50%;
    font-family: poppinsBold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.lang-btn-active {
    background-color: var(--yellow);
}

.lang-btn-inactive {
    background-color: grey;
}