/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  background: url("images/bg-img.jpg") center/cover no-repeat;
  height: 100vh;
}
