.s1 {
    height: max-content;
    padding-bottom: 3em;
}

.s1-logo {
    background: url("../images/bticino/s1-logo.png") center/contain no-repeat;
    height: 40vh;
    margin: 7em 0em 0em 0em;
}

.titles {
    font-size: 2em;
    font-family: titilliumBold;
    margin: 1em 0em;
}

.texts {
    color: grey;
}

.s2 {
    height: max-content;
    padding: 4em;
}

.imgs {
    display: flex;
    height: 50vh;
}

.s2-img1 {
    height: 100%;
    width: 100%;
    background: url("../images/bticino/s1-img1.png") center/contain no-repeat;
}

.s2-img2 {
    height: 100%;
    width: 100%;
    background: url("../images/bticino/s1-img2.png") center/contain no-repeat;
}

.s3 {
    height: max-content;
    padding: 4em;
}

.s3-img {
    height: 80vh;
    width: 100%;
    background: url("../images/bticino/s3-img.png") center/contain no-repeat;
}

@media screen and (max-width: 630px) {
    .s2 {
        padding: 1.5em;
    }
    .s3 {
        padding: 1.5em;
    }
}