.s1 {
    height: max-content;
    padding-bottom: 3em;
}

.s1-logo {
    background: url("../images/ekinex/s1-logo.png") center/contain no-repeat;
    height: 40vh;
    margin: 7em 0em 0em 0em;
}

.titles {
    font-size: 2em;
    font-family: titilliumBold;
    margin: 1em 0em;
}

.texts {
    color: grey;
}

.s2 {
    height: max-content;
    padding: 4em;
}

.s2-img {
    height: 80vh;
    background: url("../images/ekinex/s2-img.jpeg") center/contain no-repeat;
}

.s3 {
    height: max-content;
}

.s3-img {
    height: 80vh;
    background: url("../images/ekinex/products.png") center/contain no-repeat;
}

.s4 {
    height: max-content;
    padding: 4em;
}

@media screen and (max-width: 500px) {
    .s2 {
        padding: 1.5em;
    }
    .s4 {
        padding: 1.5em;
    }
}