@font-face {
    font-family: titillium;
    src: url("fonts/TitilliumWeb-Regular.ttf");
}

@font-face {
    font-family: titilliumBold;
    src: url("fonts/TitilliumWeb-Bold.ttf");
}

@font-face {
    font-family: titilliumItalic;
    src: url("fonts/TitilliumWeb-Italic.ttf");
}

@font-face {
    font-family: titilliumLight;
    src: url("fonts/TitilliumWeb-Light.ttf");
}