.hidden {
    display: none;
}

section {
    height: 100vh;
    background-color: white;
}

.s1 {
    background-image: url("../images/home-automation/s1-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.s1-title {
    background: url("../images/home-automation/s1-logo.png") center/contain no-repeat;
    height: 10vh;
    width: 50vh;
    color: white;
}

.s1-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
}

.s1-text2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

.main-btn {
    padding: 10px;
    background-color: #c5dbe9;
    border-color: #69c8fe;
    font-weight: bold;
    margin-top: 3vh;
}
.s1-sub-title-box {
    display: flex;
}

.s2 {
    height: fit-content;
    padding: 0em 4em;
}

.s2-title {
    color: black;
    font-size: 3em;
    margin-top: 1em;
    text-align: center;
}

.s2-testo {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

.s2-images {
    margin-top: 2em;
    display: flex;
    height: fit-content;
    justify-content: space-around;
}

.s2-img1 {
    background: url("../images/home-automation/s2-img1.png") center/contain no-repeat;
    height: 16em;
    width: 29em;
}

.s2-img2 {
    background: url("../images/home-automation/s2-img2.png") center/contain no-repeat;
    height: 16em;
    width: 29em;
    margin-left: 5px;
}

.s2-img3 {
    background: url("../images/home-automation/s2-img3.png") center/contain no-repeat;
    height: 16em;
    width: 29em;
    margin-left: 5px;
}

.s3 {
    padding: 0em 4em;
    display: flex;
    height: max-content;
    border-style: solid none;
    border-width: 3px;
    border-color: #69c8fe;
    justify-content: center;
    flex-direction: column;
}

.s3-title {
    font-size: 30px;
}

.s3-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.s3-img {
    height: 22vh;
    width: 40vh;
    border-style: solid;
    border-width: 2px;
    border-color: #d8dbec;
    border-radius: 2%;
    margin: 1px;
}

.s3-img1 {
    background: url("../images/home-automation/s3-img1.jpg") center/contain no-repeat;
}

.s3-img2 {
    background: url("../images/home-automation/s3-img2.jpg") center/contain no-repeat;
}

.s3-img3 {
    background: url("../images/home-automation/s3-img3.jpg") center/contain no-repeat;
}

.s3-img4 {
    background: url("../images/home-automation/s3-img4.jpg") center/contain no-repeat;
}

.s3-img5 {
    background: url("../images/home-automation/s3-img5.jpg") center/contain no-repeat;
}

.s3-img6 {
    background: url("../images/home-automation/s3-img6.jpg") center/contain no-repeat;
}

.s3-img7 {
    background: url("../images/home-automation/s3-img7.jpg") center/contain no-repeat;
}

.s3-img8 {
    background: url("../images/home-automation/s3-img8.jpg") center/contain no-repeat;
}

.s3-last-text {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
}

.s4 {
    padding: 0em 4em;
    display: flex;
    height: max-content;
    border-style: none none solid none;
    border-width: 3px;
    border-color: #69c8fe;
    justify-content: center;
    flex-direction: column;
}

.s4-title {
    color: black;
    font-size: 2.5em;
    margin-top: 1em;
    text-align: center;
    margin-top: 0;
    font-weight: bold;
}

.s4-text {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 1em;
}

.s4-images {
    display: flex;
    justify-content: center;
}

.s4-img {
    height: 40vh;
    width: 40vh;
    border-style: solid;
    border-width: 2px;
    border-color: #d8dbec;
    border-radius: 2%;
    margin: 1px;
}

.s4-img1 {
    background: url("../images/home-automation/s4-img1.jpg") center/contain no-repeat;
}

.s4-img2 {
    background: url("../images/home-automation/s4-img2.jpg") center/contain no-repeat;
}

.s4-img3 {
    background: url("../images/home-automation/s4-img3.jpg") center/contain no-repeat;
}

.s4-img4 {
    background: url("../images/home-automation/s4-img4.jpg") center/contain no-repeat;
}

.s4-img5 {
    background: url("../images/home-automation/s4-img5.jpg") center/contain no-repeat;
}

.s5 {
    height: max-content;
}

.s5-text {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 1em;
    font-weight: bold;
    width: 100%;
}

.s5-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s5-img {
    height: 7vh;
    width: 40vh;
    margin-bottom: 5px;
}

.s5-img1 {
    background: url("../images/home-automation/s5-img1.jpg") center/contain no-repeat;
    box-shadow: 7px 5px 5px grey;
}

.s5-img2 {
    background: url("../images/home-automation/s5-img2.jpg") center/contain no-repeat;
}

.s5-img3 {
    background: url("../images/home-automation/s5-img3.jpg") center/contain no-repeat;
}

.s5-img4 {
    background: url("../images/home-automation/s5-img4.jpg") center/contain no-repeat;
}

.s5-img5 {
    background: url("../images/home-automation/s5-img5.jpg") center/contain no-repeat;
}

.s5-img6 {
    background: url("../images/home-automation/s5-img6.jpg") center/contain no-repeat;
}

.s5-img7 {
    background: url("../images/home-automation/s5-img7.jpg") center/contain no-repeat;
}

.faq {
    font-size: 180px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5em 0;
}

.s6 {
    height: max-content;
    border-style: solid none none none;
    border-width: 3px;
    border-color: #69c8fe;
    justify-content: center;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
}

@media screen and (max-width: 432px) {
    .s1-title {
        height: 7vh;
    }
    .s1-text {
        font-size: 30px;
    }
    .s1-text2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 750px) {
    .s2-images {
        flex-direction: column;
        align-items: center;
    }
    .s4-title {
        font-size: 1.5em;
    }
    .s4-images {
        flex-direction: column;
        align-items: center;
    }
    .faq {
        font-size: 100px;
    }
    .s2-img1 {
        height: 10em;
    }
    .s2-img2 {
        height: 10em;
    }
    .s2-img3 {
        height: 10em;
    }
}