.hidden {
    display: none;
}

section {
    height: 100vh;
    background-color: white;
}

.s1 {
    background-image: url("../images/home-automation/s1-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.s1-title {
    background: url("../images/home-automation/s1-logo.png") center/contain no-repeat;
    height: 10vh;
    width: 50vh;
    color: white;
}

.s1-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
}

.s1-text2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

.main-btn {
    padding: 10px;
    background-color: #c5dbe9;
    border-color: #69c8fe;
    font-weight: bold;
    margin-top: 3vh;
    cursor: pointer;
}

.main-btn:hover {
    background-color: #445863;
    border-color: #1d3848;
    color: white;
}

.s1-sub-title-box {
    display: flex;
}

.s2 {
    height: fit-content;
    padding: 0em 4em;
    overflow: hidden;
}

.s2-title {
    color: black;
    font-size: 3em;
    margin-top: 1em;
    text-align: center;
}

.s2-testo {
    font-family: montserrat;
    font-weight: 0;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    margin: 1em 0;
}

.s2-images {
    height: 80vh;
    display: flex;
    background: url("../images/home-automation/s2-img1.png") center/contain no-repeat;
    justify-content: space-between;  
    transition: 0.7s;
}

.s2-left-btn, .s2-right-btn {
    background-color: rgb(150, 80, 80);
    display: flex;
    align-items: center;
    height: 80vh;
    width: 3em;
    cursor: pointer;
}

.s2-left-btn {
    background: url("../images/home-automation/left-icon.png") center/contain no-repeat;
}

.s2-right-btn {
    background: url("../images/home-automation/right-icon.png") center/contain no-repeat;
}

.s3 {
    padding: 0em 4em;
    display: flex;
    height: max-content;
    border-style: solid none;
    border-width: 3px;
    border-color: #69c8fe;
    justify-content: center;
    flex-direction: column;
}

.s3-title {
    font-size: 30px;
}

.s3-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.s3-img {
    height: 22vh;
    width: 40%;
    border-style: solid;
    border-width: 2px;
    border-color: #d8dbec;
    border-radius: 2%;
    margin: 1px;
    transition: 0.5s ease-in-out;
}

.s3-img:hover {
    transform: scale(1.3);
}

.s3-img1 {
    background: url("../images/home-automation/s3-img1.jpg") center/contain no-repeat;
}

.s3-img2 {
    background: url("../images/home-automation/s3-img2.jpg") center/contain no-repeat;
}

.s3-img3 {
    background: url("../images/home-automation/s3-img3.jpg") center/contain no-repeat;
}

.s3-img4 {
    background: url("../images/home-automation/s3-img4.jpg") center/contain no-repeat;
}

.s3-img5 {
    background: url("../images/home-automation/s3-img5.jpg") center/contain no-repeat;
}

.s3-img6 {
    background: url("../images/home-automation/s3-img6.jpg") center/contain no-repeat;
}

.s3-img7 {
    background: url("../images/home-automation/s3-img7.jpg") center/contain no-repeat;
}

.s3-img8 {
    background: url("../images/home-automation/s3-img8.jpg") center/contain no-repeat;
}

.s3-last-text {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
}

.s4 {
    padding: 0em 4em;
    display: flex;
    height: max-content;
    border-style: none none solid none;
    border-width: 3px;
    border-color: #69c8fe;
    justify-content: center;
    flex-direction: column;
}

.s4-title {
    color: black;
    font-size: 2.5em;
    margin-top: 1em;
    text-align: center;
    margin-top: 0;
    font-weight: bold;
}

.s4-text {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 1em;
}

.s4-images {
    display: flex;
    justify-content: center;
}

.s4-img {
    height: 40vh;
    width: 40vh;
    border-style: solid;
    border-width: 2px;
    border-color: #d8dbec;
    border-radius: 2%;
    margin: 1px;
}

.s4-img1 {
    background: url("../images/home-automation/s4-img1.jpg") center/contain no-repeat;
}

.s4-img2 {
    background: url("../images/home-automation/s4-img2.jpg") center/contain no-repeat;
}

.s4-img3 {
    background: url("../images/home-automation/s4-img3.jpg") center/contain no-repeat;
}

.s4-img4 {
    background: url("../images/home-automation/s4-img4.jpg") center/contain no-repeat;
}

.s4-img5 {
    background: url("../images/home-automation/s4-img5.jpg") center/contain no-repeat;
}

.s5 {
    height: max-content;
}

.s5-text {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}

.s5-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s5-img {
    height: 7vh;
    width: 40vh;
    margin-bottom: 5px;
    cursor: pointer;
}

.s5-img:hover {
    box-shadow: 7px 5px 5px grey;
}

.s5-img1 {
    background: url("../images/home-automation/s5-img1.jpg") center/contain no-repeat;
}

.s5-img-texts {
    background-color: grey;
    color: white;
    position: absolute;
    width: 40vh;
    margin-top: 7vh;
    display: none;
}

.s5-img1:hover .s5-img-texts,
.s5-img2:hover .s5-img-texts,
.s5-img3:hover .s5-img-texts,
.s5-img4:hover .s5-img-texts,
.s5-img5:hover .s5-img-texts,
.s5-img6:hover .s5-img-texts,
.s5-img7:hover .s5-img-texts {
    display: block;
}


.s5-img2 {
    background: url("../images/home-automation/s5-img2.jpg") center/contain no-repeat;
}

.s5-img3 {
    background: url("../images/home-automation/s5-img3.jpg") center/contain no-repeat;
}

.s5-img4 {
    background: url("../images/home-automation/s5-img4.jpg") center/contain no-repeat;
}

.s5-img5 {
    background: url("../images/home-automation/s5-img5.jpg") center/contain no-repeat;
}

.s5-img6 {
    background: url("../images/home-automation/s5-img6.jpg") center/contain no-repeat;
}

.s5-img7 {
    background: url("../images/home-automation/s5-img7.jpg") center/contain no-repeat;
}

.faq {
    font-size: 180px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5em 0;
}

.s6 {
    height: max-content;
    border-style: solid none none none;
    border-width: 3px;
    border-color: #69c8fe;
    justify-content: center;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 250px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    animation: scroll 100s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 40vh;
    width: 40vh;
}

@media screen and (max-width: 439px) {
    .s2 {
        padding: 0.2em;
    }

    .s3 {
        padding: 0.2em;
    }

    .s4 {
        padding: 0.2em;
    }

    .s1-title {
        height: 5vh;
        width: 32vh;
    }

    .s1-text {
        font-size: 30px;
    }

    .s1-text2 {
        font-size: 30px;
    }

    .s3-img:hover {
        transform: scale(1.2);
    }
}

@media screen and (max-width: 750px) {
    .s4-title {
        font-size: 1.5em;
    }

    .s4-images {
        flex-direction: column;
        align-items: center;
    }

    .faq {
        font-size: 100px;
    }
}

@media screen and (max-width: 407px) {
    .s3-img:hover {
        transform: scale(1.2);
    }
}

@media screen and (max-width: 1430px) {
    .s3 {
        padding: 0;
    }
}

@media screen and (max-width: 886px) {

    .s3-img:hover {
        height: 40vh;
        width: 50vh;
    }
}

@media screen and (max-width: 776px) {
    .s3-img:hover {
        height: 30vh;
        width: 40vh;
    }
}


@media screen and (max-width: 660px) {
    .s2-images, .s2-right-btn, .s2-left-btn {
        height: 60vh;
    }
}

@media screen and (max-width: 547px) {

    .s3-img:hover {
        height: 25vh;
        width: 30vh;
    }

    .s1-title {
        width: 40vh;
    }
}

@media screen and (max-width: 453px) {
    .s3-img:hover {
        width: 27vh;
    }

    .s2-title {
        font-size: 2em;
    }

    .s1-title {
        width: 32vh;
    }
    .s2-testo {
        padding: 0 1em;
    }
}

@media screen and (max-width: 350px) {
    .s5-img {
        width: 100%;
    }
    .s2-images, .s2-right-btn, .s2-left-btn {
        height: 30vh;
    }
}