.s1 {
    background: url("../images/hotel/s1.jpg") center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s1-header {
    color: white;
    font-size: 5em;
}

.s2 {
    height: max-content;
    padding: 7em 7em 0em 7em;
}

.s2-special-text {
    color: grey;
}

.s2-title {
    font-size: 3em;
}

.s2-text {
    color: grey;
    font-size: 1em;
    margin-bottom: 3em;
}

.s2-img-container {
    height: max-content;
    display: flex;
    justify-content: space-between;
}

.s2-img1 {
    background: url("../images/hotel/s2-img1.png") center/contain no-repeat;
    height: 20em;
    width: 30%;
}

.s2-img2 {
    background: url("../images/hotel/s2-img2.png") center/contain no-repeat;
    height: 20em;
    width: 30%;
}

.s2-img3 {
    background: url("../images/hotel/s2-img3.png") center/contain no-repeat;
    height: 20em;
    width: 30%;
}

.s3 {
    height: max-content;
    padding: 7em 7em;
}

.s3-images {
    display: flex;   
    height: 30vh;
    justify-content: space-evenly;
}

.s3-titles {
    font-size: 1.5em;
}

.s3-texts {
    color: grey;
}

.s3-img3 {
    background: url("../images/hotel/hotel-icon.png") center/contain no-repeat;
    height: 3em;
    width: 3em;
}

.s3-img1 {
    background: url("../images/hotel/climate-icon.png") center/contain no-repeat;
    height: 3em;
    width: 3em;
}

.s3-img2 {
    background: url("../images/hotel/savings-icon.png") center/contain no-repeat;
    height: 3em;
    width: 3em;
}

@media screen and (max-width: 874px) {
    .s3-images {
        flex-direction: column;
        height: max-content;
    }
    .s2-img-container {
        flex-direction: column;
    }
    .s2-img1 {
        width: 100%;
    }
    .s2-img2 {
        width: 100%;
    }
    .s2-img3 {
        width: 100%;
    }
}

@media screen and (max-width: 589px) {
    .s1-header {
        font-size: 4em;
    }
    .s2 {
        padding: 3em 1em 3em 1em;
    }
    .s2-special-text {
        text-align: center;
    }
    .s2-text {
        text-align: center;
    }
    .s3 {
        padding: 0em 1em 3em 1em;
    }
    .s3-img1 {
        margin: 0 50%;
    }
    .s3-img2 {
        margin: 0 50%;
    }
    .s3-img3 {
        margin: 0 50%;
    }
    .s3-titles {
        text-align: center;
    }
    .s3-texts {
        text-align: center;
    }
    .s2-title {
        font-size: 2em;
        text-align: center;
    }
}