* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: titillium;
}

section {
    height: 100vh;
}

.main-section {
    background-image: url("../images/main-section.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-section-elements-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-logo {
    margin-top: 0.7em;
    left: 1em;
    position: fixed;
    z-index: 1;
}

.nav-container {
    margin-top: 0.7em;
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.326);
    height: 5em;
    color: white;
}

.nav-items {
    margin-top: 0.7em;
    margin: 0px 2em;
}

.nav-menu-btn {
    margin-top: 0.7em;
    right: 1em;
    position: fixed;
    z-index: 1;
    font-size: 30px;
    color: white;
    z-index: 2;
}

.aside-buttons-container {
    display: flex;
    justify-content: space-around;
}

.main-section-buttons {
    height: 100%;
    display: flex;
    flex-direction:column;
    position: absolute;
    justify-content: center;
    font-size: 25px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.384);
}

.main-section-aside-btn {
    transform-origin: 0 0;
    transform: rotate(-90deg);
    /* margin: 2em 0em; */
}

#linkedin {
    margin-top: 0;
}