.nav-logo {
    margin-top: 1.2em;
    left: 1em;
    position: fixed;
    z-index: 3;
    width: 11em;
    height: 4.1em;
    background: url("../images/logo/logo.png") center/contain no-repeat;
    cursor: pointer;
    top: 1em;
}

.nav-container {
    margin-top: 0.7em;
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.726);
    height: 5em;
    color: rgb(0, 0, 0);
    top: 1em;
}

.nav-items {
    margin-top: 0.7em;
    margin: 0px 2em;
    cursor: pointer;
    font-weight: bold;
}

.nav-items:hover {
    color: grey;
}

.nav-menu-btn {
    right: 1em;
    position: fixed;
    z-index: 1;
    font-size: 30px;
    color: rgb(0, 0, 0);
    z-index: 2;
    top: 1.2em;
}

.services:hover .services-dropdown {
    display: block;
}

.services-dropdown:hover {
    display: block;
}

.services-dropdown {
    display: none;
    position: absolute;
    background-color: rgb(39, 39, 39);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 11;
    margin: 1.7em -4em;
}

.nav-highlight-services {
    width: 5em;
    height: 2em;
    position: absolute;
}

.nav-highlight-services:hover .services-dropdown {
    display: block;
}

.dropdown-items:hover {
    color: white;
}

.dropdown-items {
    font-size: 16px;
    margin: 1em;
}

.products-dropdown {
    display: none;
    position: absolute;
    background-color: rgb(39, 39, 39);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 11;
    margin: 1.7em -4em;
}

.products:hover .products-dropdown {
    display: block;
}

.nav-highlight-products {
    width: 5em;
    height: 2em;
    position: absolute;
}

/* Mobile Responsive */
@media screen and (max-width: 860px) {
    .nav-items {
      display: none;
    }
    .nav-logo {
        position: static;
        height: 10vh;
    }
    .nav-container {
        display: flex;
        justify-content: center;
    }
  }