.nav-logo {
    left: 93px;
    top: 2em;
    position: fixed;
    z-index: 3;
    width: 313px;
    height: 73px;
    background: url("../images/logo/LogoPNG-NERO.png") center/contain no-repeat;
    cursor: pointer;
}

.nav-container {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0);
    height: 9em;
    color: rgb(255, 255, 255);
    padding-right: 2em;
}

.nav-items {
    margin-top: 0.7em;
    margin: 0px 1em;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-family: Poppins;
}

.nav-items:hover {
    color: grey;
}

.nav-items-active {
    font-weight: 700;
}

.active-bar {
    height: 1px;
    background-color: white;
    width: 68px;
    margin-left: 15px;
}

.nav-contact-btn {
    margin-top: 0.7em;
    margin: 0px 1em;
    cursor: pointer;
    color: #1E6585;
    padding: 10px 30px;
    background-color: white;
    border-radius: 7px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    transition: 0.5s;
}

.nav-contact-btn:hover {
    background-color: #1E6585;
    color: white;
}

.nav-menu-btn {
    display: none;
    left: 1em;
    position: fixed;
    z-index: 1;
    font-size: 30px;
    color: rgb(0, 0, 0);
    z-index: 2;
    top: 1em;
}

.services:hover .services-dropdown {
    display: block;
}

.services-dropdown:hover {
    display: block;
}

.services-dropdown {
    display: none;
    position: absolute;
    background-color: rgb(39, 39, 39);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 11;
    margin: 1.7em -4em;
}

.nav-highlight-services {
    width: 5em;
    height: 2em;
    position: absolute;
}

.nav-highlight-services:hover .services-dropdown {
    display: block;
}

.dropdown-items:hover {
    color: white;
}

.dropdown-items {
    font-size: 16px;
    margin: 1em;
}

.products-dropdown {
    display: none;
    position: absolute;
    background-color: rgb(39, 39, 39);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 11;
    margin: 1.7em -4em;
}

.products:hover .products-dropdown {
    display: block;
}

.nav-highlight-products {
    width: 5em;
    height: 2em;
    position: absolute;
}

/* Mobile Responsive */
@media screen and (max-width: 950px) {
    .nav-items, .nav-contact-btn {
        display: none;
    }

    .nav-logo {
        position: static;
        height: 10vh;
    }

    .nav-container {
        display: flex;
        justify-content: center;
    }

    .nav-menu-btn {
        display: block;
    }
}