.nav-menu-btn {
    cursor: pointer;
}

.right-menu {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 0;
    position: fixed;
    right: 0px;
    padding-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
    overflow-x: hidden;
}

.right-menu-info-container {
    color: rgb(0, 0, 0);
    width: 70%;
}

.close-right-menu {
    color: rgb(0, 0, 0);
    font-size: 3em;
    z-index: 20;
    position: fixed;
    top: 3px;
    right: 0.5em;
    padding: 3px 0.3em;
    cursor: pointer;
}

.right-menu-logo-container {
    color: rgb(0, 0, 0);
    width: 10em;
    min-height: 3em;
    background: url("../images/logo/logo.png") center/contain no-repeat;
}

.contact-icon-location {
    background: url("../images/location-icon.png") center/contain no-repeat;
    height: 1.3em;
    width: 1.3em;
}

.contact-containers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20%;
    cursor: pointer;
}

.contact-icon-email {
    background: url("../images/email-icon.png") center/contain no-repeat;
    height: 1.3em;
    width: 1.3em;
}

.contact-icon-phone {
    background: url("../images/phone-icon.png") center/contain no-repeat;
    height: 1.3em;
    width: 1.3em;
}

.right-menu-social-icons {
    display: flex;
    justify-content: space-around;
    height: 2em;
    margin-top: 3em;
}

.right-menu-fb-icon {
    background-image: url("../images/fb-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 1.5em;
    width: 1.5em;
}

.right-menu-ig-icon {
    background-image: url("../images/ig-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 1.5em;
    width: 1.5em;
}

.right-menu-linkedin-icon {
    background-image: url("../images/ig-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 1.5em;
    width: 1.5em;
}

.right-menu-mobile-navs {
    color: rgb(0, 0, 0);
    padding: 1em;
    cursor: pointer;
}

.right-menu-mobile-navs:hover {
    color: grey;
}

.mobile-menu {
    margin-left: 1.5em;
}

@media screen and (min-width: 860px) {
    .mobile-menu {
      display: none;
    }
  }

@media screen and (max-width: 860px) {
    .right-menu-logo-container {
        display: none;
    }
}