.s1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s1-logo {
    background: url("../images/schneider/logo.png") center/contain no-repeat;
    height: 30em;
    width: 30em;
}

.s2 {
    height: fit-content;
    padding: 5em 5em;
}

.titles {
    font-size: 2em;
    text-align: center;
}

.texts {
    color: grey;
    margin: 3em 0em;
}

.imgs {
    height: 14em;
    width: 100%;
    display: flex;
}

.img1 {
    background: url("../images/schneider/img1.jpg") center/cover no-repeat;
    height: 100%;
    width: 25%;
}

.img2 {
    background: url("../images/schneider/img2.jpg") center/cover no-repeat;
    height: 100%;
    width: 25%;
}

.img3 {
    background: url("../images/schneider/img3.jpg") center/cover no-repeat;
    height: 100%;
    width: 25%;
}

.img4 {
    background: url("../images/schneider/img4.jpg") center/cover no-repeat;
    height: 100%;
    width: 25%;
}

.s3 {
    height: fit-content;
    padding: 4em 4em;
}

.s4 {
    height: fit-content;
    padding: 4em 4em;
}

.s4-img1 {
    background: url("../images/schneider/prod1.jpg") center/cover no-repeat;
    height: 100%;
    width: 33%;
}

.s4-img2 {
    background: url("../images/schneider/prod2.jpg") center/cover no-repeat;
    height: 100%;
    width: 33%;
}

.s4-img3 {
    background: url("../images/schneider/prod3.JPG") center/cover no-repeat;
    height: 100%;
    width: 33%;
}

@media screen and (max-width: 839px) {
    .s2 {
        padding: 1em 1em;
    }
    .s3 {
        padding: 1em 1em;
    }
    .s4 {
        padding: 1em 1em;
    }
    .imgs {
        flex-direction: column;
        width: 100%;
        height: max-content;
    }
    .img1 {
        width: 100%;
        height: 30em;
    }
    .img2 {
        width: 100%;
        height: 30em;
    }
    .img3 {
        width: 100%;
        height: 30em;
    }
    .img4 {
        width: 100%;
        height: 30em;
    }
}