.s1 {
    height: max-content;
}

.s1-logo {
    background: url("../images/thinknx/s1-logo.jpg") center/cover no-repeat;
    height: 40vh;
    margin: 10em 0em 0em 0em;
}

.s2 {
    height: max-content;
}

.titles {
    font-family: titilliumBold;
}