.s1 {
    height: max-content;
}

.s1-logo {
    background: url("../images/thinknx/s1-logo.jpg") center/cover no-repeat;
    height: 40vh;
    margin: 10em 0em 0em 0em;
}

.s2 {
    height: max-content;
    padding: 4em;
}

.titles {
    font-size: 2em;
    font-family: titilliumBold;
    margin: 1em 0em;
}

.texts {
    color: grey;
}

.s2-img1 {
    height: 100%;
    width: 100%;
    background: url("../images/thinknx/s2-img1.png") center/cover no-repeat;
}

.s2-img2 {
    height: 100%;
    width: 100%;
    background: url("../images/thinknx/s2-img2.png") center/cover no-repeat;
}

.s2-img3 {
    height: 100%;
    width: 100%;
    background: url("../images/thinknx/s2-img3.png") center/cover no-repeat;
}

.s2-imgs {
    display: flex;
    height: 70vh;
    padding: 3em;
}

.s3 {
    padding: 4em;
    height: max-content;
}

.s3 ul {
    margin-left: 4em;
}

@media screen and (max-width: 670px) {
    .s2 {
        padding: 1em;
    }
    .s3 {
        padding: 1em;
    }
    .titles {
        text-align: center;
    }
    .texts {
        text-align: center;
    }
}