.s1 {
    height: max-content;
}

.s1-logo {
    background: url("../images/vimar/s1-logo.png") center/contain no-repeat;
    height: 20vh;
    margin: 10em 10em 0em 10em;
}

.s2 {
    height: max-content;
    padding: 4em;
}

.titles {
    font-size: 2em;
    font-family: titilliumBold;
}

.texts {
    color: grey;
}

.s2-imgs {
    height: 40vh;
    background-color: rgb(121, 121, 121);
    display: flex;
    justify-content: space-evenly;
}

.s2-img1 {
    height: 100%;
    background: url("../images/vimar/s2-img1.png") center/contain no-repeat;
    width: 100%;
}

.s2-img2 {
    height: 100%;
    background: url("../images/vimar/s2-img2.png") center/contain no-repeat;
    width: 100%;
}

.s2-img3 {
    height: 100%;
    background: url("../images/vimar/s2-img3.png") center/contain no-repeat;
    width: 100%;
}

.s3 {
    height: max-content;
    padding: 4em;
}

.splitter {
    padding: 2em;
}

.s4 {
    background: url("../images/vimar/s4-img.png") center/contain no-repeat;
    height: 100vh;
}

.s5 {
    height: max-content;
    padding: 4em;
}

@media screen and (max-width: 570px) {
    .s1-logo {
        margin: 7em 7em 0em 7em;
    }
}

@media screen and (max-width: 471px) {
    .s1-logo {
        margin: 7em 5em 0em 5em;
    }
    .s2 {
        padding: 2em;
    }
    .s3 {
        padding: 2em;
    }
    .s4 {
        padding: 2em;
    }
    .s5 {
        padding: 2em;
    }
}