body {
    background-color: rgb(62, 1, 1);
}
.main-title {
    color:rgb(255, 255, 255);
    animation: main-title-animation 10s;
    animation-iteration-count: infinite;
    font-size: 50px;
}

@keyframes main-title-animation {
    0% {
        transform: translateX(100px);
    }
    50% {
        transform: translateX(1000px);
    }
    100% {
        transform: translateX(100px);
    }
}

.computer {
    color: rgb(255, 0, 0);
}

.player {
    color: rgb(72, 255, 0);
}

#computer-choice {
    color: rgb(8, 213, 213);
}

#player-choice {
    color: chartreuse;
}

main {
    text-align: center;
}

.result {
    color: white
}

#play {
    color: rgb(255, 255, 255);
    padding: 1% 3%;
    font-size: 20px;
    border-color: chartreuse;
    background-color: rgb(42, 169, 0);
}