body {
    background-color: rgb(62, 1, 1);
}
.main-title {
    color:rgb(255, 255, 255);
    animation: main-title-animation 10s;
    animation-iteration-count: infinite;
    font-size: 50px;
}

@keyframes main-title-animation {
    0% {
        transform: translateX(100px);
    }
    50% {
        transform: translateX(1000px);
    }
    100% {
        transform: translateX(100px);
    }
}

.computer {
    color: rgb(0, 232, 178);
}

.player {
    color: rgb(72, 255, 0);
}

#computer-choice {
    color: rgb(8, 213, 213);
}

#player-choice {
    color: chartreuse;
}

main {
    text-align: center;
}

.result {
    color: white
}

#play {
    color: rgb(255, 0, 0);
    padding: 1% 3%;
    font-size: 20px;
    border-color: chartreuse;
    background-color: rgb(42, 169, 0);
}

.buttons {
    color: rgb(255, 255, 255);
    padding: 1% 3%;
    font-size: 20px;
    border-color: chartreuse;
    background-color: rgb(42, 169, 0);
}

#player-points {
    color: green;
}

#computer-points {
    color: rgb(0, 232, 178);;
}

.points {
    display: flex;
    justify-content: center;
}

.end-result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    /* width: 100vh;
    height: 100vh; */
    background-color: aqua;
    position:absolute;
    top:0px;
    margin: 5vh 50vh;
    padding: 20vh 50vh;
    text-align: center;
}

.hidden {
    display: none;
}