body {
    background-color: steelblue;
}

main {
    font-family: Squirk;
}

.dice-system {
    height: 20vh;
    width: 20vh;
    background-color: brown;
    background-image: linear-gradient(brown, rgb(129, 35, 35));
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 2vh;
    top: 2vh;
    border-radius: 10%;
}

.dice-result {
    margin: 3px 3px;
    font-size: large;
    font-weight: bolder;
    font-family: Squirk;
    color: white;
}

@keyframes diceAnim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(2520deg);
    }
}

.dice-roll {
    animation: diceAnim 2s;
}

.hidden {
    display: none;
}

.music-div {
    background-color: burlywood;
    height: 20vh;
    width: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 2vh;
    top: 2vh;
    border-radius: 10%;
}

.key-roll-div {
    background-color: burlywood;
    height: 20vh;
    width: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 25vh;
    top: 2vh;
    border-radius: 10%;
}

@keyframes player-stats-anim {
    0% {
        background-color: burlywood;
    }

    50% {
        background-color: rgb(203, 127, 27);
    }

    100% {
        background-color: burlywood;
    }
}

.player-anim {
    animation: player-stats-anim 2s infinite;
}

.player1-stats {
    background-color: burlywood;
    height: 20vh;
    width: 20vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 25vh;
    top: 2vh;
    border-radius: 10%;
    background-image: url("../images/grey-pawn.png");
    background-size: contain;
    display: flex;
}

@font-face {
    font-family: Squirk;
    src: url("fonts/Squirk.ttf");
}

.player1-stats-align {
    text-align: center;
    color: white;
    -webkit-text-stroke: 0.7px black;
    font-size: larger;
    font-family: Squirk;
    margin: 0.6em 0.6em;
}

.player2-stats {
    background-color: rgb(222, 184, 135);
    height: 20vh;
    width: 20vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50vh;
    top: 2vh;
    border-radius: 10%;
    background-image: url("../images/red-pawn.png");
    background-size: contain;
    display: flex;
}

.board {
    background-color: darkseagreen;
    height: 80vh;
    margin-top: 25vh;
    display: flex;
    flex-wrap: wrap;
}

.start-square {
    background-color: goldenrod;
    height: 10vh;
    width: 10vh;
    margin: 2vh 2vh;
    overflow: hidden;
    border-radius: 10%;
    font-family: Squirk;
    color: white;
}

.normal-square {
    background-color: rgb(255, 220, 169);
    color: rgb(255, 106, 0);
    background-image: linear-gradient(rgb(255, 220, 169), rgb(208, 181, 139));
    height: 10vh;
    width: 10vh;
    margin: 2vh 2vh;
    overflow: hidden;
    border-radius: 10%;
    border-style: solid;
    border-width: 0.1em;
    border-color: #e89d41;
    font-family: Squirk;
}

@keyframes rotate {
    0% {
        border-image: linear-gradient(green, yellow);
    }

    100% {
        border-image: linear-gradient(yellow, green);
    }
}

.go-back-square {
    background-color: rgb(255, 220, 169);
    color: rgb(255, 220, 169);
    text-align: center;
    background-image: linear-gradient(rgb(244, 122, 0), rgb(187, 103, 7));
    height: 10vh;
    width: 10vh;
    margin: 2vh 2vh;
    overflow: hidden;
    border-radius: 10%;
    border-style: solid;
    border-width: 0.1em;
    animation: 2s rotate linear infinite;
}

.pawn {
    width: 4vh;
}

@keyframes win-square-anim {
    0% {
        background-color: red;

    }

    50% {
        background-color: #c72e2e;
    }

    100% {
        background-color: red;
    }
}

.win-square {
    background-color: rgb(253, 0, 0);
    height: 10vh;
    width: 10vh;
    margin: 2vh 2vh;
    overflow: hidden;
    border-radius: 10%;
    border-width: 110px;
    border-color: #c7802e;
    animation: win-square-anim 2s infinite;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dicebtn {
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color: #c62d1f;
    border-radius: 42px;
    border: 1px solid #d02718;
    cursor: pointer;
    color: #ffffff;
    font-family: Squirk, Arial;
    font-size: 17px;
    padding: 6px 34px;
    text-decoration: none;
    text-shadow: 5px 1px 4px #810e05;
}

.dicebtn:hover {
    background: linear-gradient(to bottom, #871f15 5%, #c6382e 100%);
}

.dicebtn:active {
    background: linear-gradient(to bottom, #893028 5%, #c6483f 100%);
}

.musicbtn {
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color: #c62d1f;
    border-radius: 42px;
    border: 1px solid #d02718;
    cursor: pointer;
    color: #ffffff;
    font-family: Squirk, Arial;
    font-size: 17px;
    padding: 6px 34px;
    text-decoration: none;
    text-shadow: 5px 1px 4px #810e05;
}

.musicbtn:hover {
    background: linear-gradient(to bottom, #871f15 5%, #c6382e 100%);
}

.musicbtn:active {
    background: linear-gradient(to bottom, #893028 5%, #c6483f 100%);
}

.jumpbtn {
    background: linear-gradient(to bottom, #ff1b06 5%, #720800 100%);
    background-color: #c62d1f;
    border-radius: 42px;
    border: 1px solid #d02718;
    cursor: pointer;
    color: #ffffff;
    font-family: Squirk, Arial;
    font-size: 17px;
    padding: 6px 34px;
    text-decoration: none;
    text-shadow: 5px 1px 4px #810e05;
}

.jumpbtn:hover {
    background: linear-gradient(to bottom, #871f15 5%, #c6382e 100%);
}

.jumpbtn:active {
    background: linear-gradient(to bottom, #893028 5%, #c6483f 100%);
}

@keyframes winnerAreaAnim {
    0% {
        transform: translateY(-50vh);
    }

    100% {
        transform: translateY(-102vh);
    }
}

.winner-container {
    height: 95vh;
    background-color: #810e05;
    animation: winnerAreaAnim 1s;
    animation-iteration-count: 1;
    transform: translateY(-105vh);
}

.winner-container-player1 {
    background-image: url("../images/grey-pawn.png"), linear-gradient(#b9160a, #810e05);
    background-repeat: no-repeat;
    background-position: center;
}

.winner-container-player2 {
    background-image: url("../images/red-pawn.png"), linear-gradient(#b9160a, #810e05);
    background-repeat: no-repeat;
    background-position: center;
}

.winner-container-styling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
}

@keyframes play-again-anim {
    0% {
        transform: translateY(1vh);
    }
}

.play-again-btn {
    background: #deb887;
    background-image: -webkit-linear-gradient(top, #deb887, #a17238);
    background-image: -moz-linear-gradient(top, #deb887, #a17238);
    background-image: -ms-linear-gradient(top, #deb887, #a17238);
    background-image: -o-linear-gradient(top, #deb887, #a17238);
    background-image: linear-gradient(to bottom, #deb887, #a17238);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 3px 1px 1px #474747;
    -webkit-box-shadow: 3px 3px 6px #666666;
    -moz-box-shadow: 3px 3px 6px #666666;
    box-shadow: 3px 3px 6px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 31px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: Squirk, Arial;
}

.play-again-btn:hover {
    background: #e89d41;
    background-image: -webkit-linear-gradient(top, #e89d41, #c7802e);
    background-image: -moz-linear-gradient(top, #e89d41, #c7802e);
    background-image: -ms-linear-gradient(top, #e89d41, #c7802e);
    background-image: -o-linear-gradient(top, #e89d41, #c7802e);
    background-image: linear-gradient(to bottom, #e89d41, #c7802e);
    text-decoration: none;
    cursor: pointer;
    font-family: Squirk, Arial;
    animation: play-again-anim 1s;
    animation-iteration-count: 1;
}

/* .tooltip {
    border-bottom: 1px dotted black;
    cursor: help;
}

.tooltiptext {
    visibility: hidden;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
} */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: help;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }