body {
    background-color: steelblue;
}

.dice-system {
    height: 20vh;
    width: 20vh;
    background-color: brown;
    background-image: linear-gradient(brown,rgb(129, 35, 35));
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 2vh;
    top: 2vh;
    border-radius: 10%;
}

.dice-result {
    margin: 3px 3px;
    font-size: large;
    font-weight: bolder;
    font-family: Squirk;
    color: white;
}

@keyframes diceAnim {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(2520deg);
    }
}

.dice-roll {
    animation: diceAnim 2s;
}

.hidden {
    display: none;
}

.points-div {
    background-color: burlywood;
    height: 20vh;
    width: 20vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 2vh;
    top:2vh;
    border-radius: 10%;
}

.player1-stats {
    background-color: burlywood;
    height: 20vh;
    width: 20vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 25vh;
    top:2vh;
    border-radius: 10%;
    background-image: url("../images/grey-pawn.png");
    background-size: contain;
}

@font-face {
    font-family: Squirk;
    src: url("fonts/Squirk.ttf");
}

.player1-stats-align {
    text-align: center;
    color: white;
    -webkit-text-stroke: 0.7px black;
    font-size: larger;
    font-family: Squirk;
}

.player2-stats {
    background-color: burlywood;
    height: 20vh;
    width: 20vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50vh;
    top:2vh;
    border-radius: 10%;
    background-image: url("../images/red-pawn.png");
    background-size: contain;
}

.board {
    background-color: darkseagreen;
    height: 80vh;
    margin-top: 25vh;
    display: flex;
    flex-wrap: wrap;
}

.start-square {
    background-color: goldenrod;
    height: 10vh;
    width: 10vh;
    margin: 2vh 2vh;
    overflow: hidden;
    border-radius: 10%;
}

.normal-square {
    background-color: rgb(255, 220, 169);
    height: 10vh;
    width: 10vh;
    margin: 2vh 2vh;
    overflow: hidden;
    border-radius: 10%;
}

.pawn {
    width: 4vh;
}

.win-square {
    background-color: rgb(253, 0, 0);
    height: 10vh;
    width: 10vh;
    margin: 2vh 2vh;
    overflow: hidden;
    border-radius: 10%;
}

.dicebtn {
    /* color: red;
    background-color: rgb(255, 225, 0);
    border-color: rgb(215, 41, 41);
    border-radius: 30%;
    font-weight: bolder;
    padding: 0.2em 2em; */
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:42px;
	border:1px solid #d02718;
	cursor:pointer;
	color:#ffffff;
	font-family: Squirk, Arial;
	font-size:17px;
	padding:6px 34px;
	text-decoration:none;
	text-shadow:5px 1px 4px #810e05;
}

@keyframes winnerAreaAnim {
    0% {
        translateX:100px ;
    }
}

.winner-container {
    height: 95vh;
    background-color: #810e05;
    z-index: 10;
    top: 10px;
    left: 10px;
}