@media only screen and (min-width: 768px) {
    .responsive-font2 {
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 6em;
    }
}

html {
    background-color: aqua;
}

body {
    height: 100vh;
}

.main {
    height: 100vh;
}

@media only screen and (max-width: 560px) {
    .responsive-font2 {
        margin-top: 1em;
    }
}

@media only screen and (min-width: 300px) {
    .responsive-font2 {
        margin-top: 15px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.title-container {
    position: absolute;
    Top: 80px;
    display: flex;
    justify-content: center;
}

.about-title {
    color: white;
    font-weight: bold;
    margin: auto;
}