/* p {color: red;
} */

/* p {
    background-image: url("PngItem_3749696.png");
    margin-top: auto;

} */
/* body {
    background-image:url("PngItem_3749696.png");

} */
body {
    background-color: rgb(0, 50, 77);
}
/* ------------------------ Logo ------------------------- */
#logo {
  background-color: rgb(0, 0, 0);
}
/* -------------------- Navigation Bar ------------------- */
  .navbar a {
    float: left;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    width: 23%; 
    text-align: center;
    border-radius: 10px;
    border: 2px solid #ffffff;
    /* background-color: #4c0000;  */
  }
  
  .navbar a:hover {
    background-color: rgb(166, 5, 5);
    color:#ffe100;
    border: 2px solid #ffbb00;    
  }
  
  .active {
    background-color: #ff0000; 
  }
  .inactive {
    background-color: #910202; 
  }

  /* ------------------ Navigation Bar End ----------------------------- */
